html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.MessageListError {
  padding: 8px 0px;
  background-color: #EF626C;
}

.MessageListEmpty {
  padding: 8px 0px;
  background-color: #F6E8EA;
}

.MessageInput {
  padding: 8px 0px;
  background-color: #84DCCF;
}