html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  background: silver;
}

.content {
  flex: 1;
  overflow: auto;
  background: pink;
}