/*
  pinkish-grey: F6E8EA
  soft-red: EF626C
  almost-black: 22181C
  dark-grey: 312F2F
  light-mint: 84DCCF
*/
html, body {
  color: #22181C;
}

.App {
  text-align: center;
}

.MessagesError {
  padding: 8px 0px;
  background-color: #EF626C;
}
